
<!--Footer-->
<footer class="footer">

    <!--Footer Links-->
    <div class="container-fluid d-none d-md-block">
        <div class="row">

            <!--First column-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right">
                <h4><strong>Yayasan Widhi Sastra Nugraha - Monarch Bali</strong></h4>
                <h5>Sekolah perhotelan dan kapal pesiar</h5>
                <p>Jl. Pandu No. 27, Br. Dukuh, Dalung, Kuta - Utara, Badung - Bali, 80361, Indonesia</p>
                <button class="btn btn-outline-light">Kontak Kami</button>
                <p></p>
                <h4><strong>Tentang Kami</strong></h4>
                <ul>
                    <li><a href=""><i class="fa fa-angle-right"></i> Sejarah Monarch Bali</a></li>
                    <li><a href=""><i class="fa fa-angle-right"></i> Founder Monarch Bali</a></li>
                    <li><a href=""><i class="fa fa-angle-right"></i> Monarch Bali by Numbers</a></li>
                </ul>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-3 border-right">
                <h4><strong>Monarch Bali</strong></h4>
                <ul>
                    <li><a href=""><i class="fa fa-angle-right"></i> Monarch Dalung</a></li>
                    <li><a href=""><i class="fa fa-angle-right"></i> Monarch Candidasa</a></li>
                    <li><a href=""><i class="fa fa-angle-right"></i> Monarch Gianyar</a></li>
                    <li><a href=""><i class="fa fa-angle-right"></i> Monarch Singaraja</a></li>
                    <li><a href=""><i class="fa fa-angle-right"></i> Monarch Negara</a></li>
                </ul>
            </div>
            <!--/.Second column-->
            <!--Third column-->
            <div class="col-md-3">
                <h4>Media Sosial</h4>
                <a class="social" href=""><i class="fa fa-facebook-square fa-3x social-fb"></i></a>
                <a class="social" href=""><i class="fa fa-instagram fa-3x social-ig"></i></a>
                <a class="social" href=""><i class="fa fa-youtube-play fa-3x social-fb"></i></a>
            </div>
            <!--/.Third column-->
        </div>
    </div>

    <div class="container-fluid d-block d-md-none">
        <div class="row">

            <!--First column-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom">
                <h4><strong>Yayasan Widhi Sastra Nugraha - Monarch Bali</strong></h4>
                <h5>Sekolah perhotelan dan kapal pesiar</h5>
                <p>Jl. Pandu No. 27, Br. Dukuh, Dalung, Kuta - Utara, Badung - Bali, 80361, Indonesia</p>
                <button class="btn btn-outline-light">Kontak Kami</button>
                <p></p>
                <h4><strong>Tentang Kami</strong></h4>
                <ul>
                    <li><a href=""><i class="fa fa-angle-right"></i> Sejarah Monarch Bali</a></li>
                    <li><a href=""><i class="fa fa-angle-right"></i> Founder Monarch Bali</a></li>
                    <li><a href=""><i class="fa fa-angle-right"></i> Monarch Bali by Numbers</a></li>
                </ul>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-3 border-bottom pt-3">
                <h4><strong>Monarch Bali</strong></h4>
                <ul>
                    <li><a href=""><i class="fa fa-angle-right"></i> Monarch Dalung</a></li>
                    <li><a href=""><i class="fa fa-angle-right"></i> Monarch Candidasa</a></li>
                    <li><a href=""><i class="fa fa-angle-right"></i> Monarch Gianyar</a></li>
                    <li><a href=""><i class="fa fa-angle-right"></i> Monarch Singaraja</a></li>
                    <li><a href=""><i class="fa fa-angle-right"></i> Monarch Negara</a></li>
                </ul>
            </div>
            <!--/.Second column-->
            <!--Third column-->
            <div class="col-md-3 pt-3">
                <h4>Media Sosial</h4>
                <a class="social" href=""><i class="fa fa-facebook-square fa-3x social-fb"></i></a>
                <a class="social" href=""><i class="fa fa-instagram fa-3x social-ig"></i></a>
                <a class="social" href=""><i class="fa fa-youtube-play fa-3x social-fb"></i></a>
            </div>
            <!--/.Third column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="container-fluid">
        <p class="text-right copyright">Copyright © Yayasan Widhi Sastra Nugraha 2018. All Rights Reserved.</p>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
                
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/js/jquery.matchHeight.js"></script>
<script src="/js/equalize.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>