<!-- Medium Up -->
<div class="col-lg-12 col-md-12 col-sm-12 d-none d-sm-block">
    <!-- Founder -->
    <div class="row justify-content-end mb-0">
        <i class="fa fa-circle-thin ml-auto align-self-center blue"></i>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="history blue box-shadow">
                <div class="ml-3 text-uppercase"><strong>2009</strong> | Founder</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto bg-light text-center same-height box-shadow rounded" style="font-size: 1.3rem">
            Yayasan Widhi Sastra Nugraha berdiri menjadi penaung Monarch Bali
        </div>
    </div>
    <!-- End Founder -->
    <!-- Line -->
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
    </div>
    <!-- End Line -->
    <!-- Dalung -->
    <div class="row justify-content-end mb-0">
        <i class="fa fa-circle-thin ml-auto align-self-center magenta"></i>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="history magenta box-shadow">
                <div class="ml-3 text-uppercase"><strong>2009</strong> | Monarch Bali - Dalung</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto bg-light text-center same-height box-shadow rounded" style="font-size: 1.3rem">
            Monarch Bali - Dalung berdiri dengan alamat di Jl. Pandu No. 27, Br. Dukuh, Dalung, Kuta Utara, Badung - Bali
        </div>
    </div>
    <!-- End Dalung -->
    <!-- Line -->
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
    </div>
    <!-- End Line -->
    <!-- Candidasa -->
    <div class="row justify-content-end mb-0">
        <i class="fa fa-circle-thin ml-auto align-self-center orange"></i>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="history orange box-shadow">
                <div class="ml-3 text-uppercase"><strong>2010</strong> | Monarch Bali - Candidasa</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto bg-light text-center same-height box-shadow rounded" style="font-size: 1.3rem">
            Monarch Bali - Candidasa berdiri dengan alamat di Jl. Raya Samuh, Candidasa, Karangasem - Bali
        </div>
    </div>
    <!-- End Candidasa -->
    <!-- Line -->
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
    </div>
    <!-- End Line -->
    <!-- Gianyar -->
    <div class="row justify-content-end mb-0">
        <i class="fa fa-circle-thin ml-auto align-self-center seablue"></i>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="history seablue box-shadow">
                <div class="ml-3 text-uppercase"><strong>2010</strong> | Monarch Bali - Gianyar</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto bg-light text-center same-height box-shadow rounded" style="font-size: 1.3rem">
            Monarch Bali - Gianyar berdiri dengan alamat di Jl. Gn. Lempuyang No. 03, Samplangan, Gianyar - Bali
        </div>
    </div>
    <!-- End Gianyar -->
    <!-- Line -->
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
    </div>
    <!-- End Line -->
    <!-- Singaraja -->
    <div class="row justify-content-end mb-0">
        <i class="fa fa-circle-thin ml-auto align-self-center tosca"></i>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="history tosca box-shadow">
                <div class="ml-3 text-uppercase"><strong>2011</strong> | Monarch Bali - Singaraja</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto bg-light text-center same-height box-shadow rounded" style="font-size: 1.3rem">
            Monarch Bali - Singaraja berdiri dengan alamat di Jl. Raya Anturan No. 15, Desa Tukad Mungga, Singaraja, Buleleng - Bali
        </div>
    </div>
    <!-- End Singaraja -->
    <!-- Line -->
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
    </div>
    <!-- End Line -->
    <!-- Negara -->
    <div class="row justify-content-end mb-0">
        <i class="fa fa-circle-thin ml-auto align-self-center red"></i>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="history red box-shadow">
                <div class="ml-3 text-uppercase"><strong>2012</strong> | Monarch Bali - Negara</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="d-block text-white same-height">.</div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto bg-light text-center same-height box-shadow rounded" style="font-size: 1.3rem">
            Monarch Bali - Negara berdiri dengan alamat di Jl. P. Menjangan Gg. IV No. 06, Kel. Dauh Waru, Jembrana Bali
        </div>
    </div>
    <!-- End Negara -->
</div>
<!-- End Medium Up -->

<!-- Small -->
<div class="col-lg-12 col-md-12 col-sm-12 d-none d-sm-block">
    <!-- Founder -->
    <div class="row justify-content-end mb-0">
        <i class="fa fa-circle-thin ml-auto align-self-center blue"></i>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="history blue box-shadow">
                <div class="ml-3 text-uppercase"><strong>2009</strong> | Founder</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto bg-light text-center same-height box-shadow rounded" style="font-size: 1.3rem">
            Yayasan Widhi Sastra Nugraha berdiri menjadi penaung Monarch Bali
        </div>
    </div>
    <!-- End Founder -->
    <!-- Line -->
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
    </div>
    <!-- End Line -->
    <!-- Dalung -->
    <div class="row justify-content-end mb-0">
        <i class="fa fa-circle-thin ml-auto align-self-center magenta"></i>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="history magenta box-shadow">
                <div class="ml-3 text-uppercase"><strong>2009</strong> | Monarch Bali - Dalung</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto bg-light text-center same-height box-shadow rounded" style="font-size: 1.3rem">
            Monarch Bali - Dalung berdiri dengan alamat di Jl. Pandu No. 27, Br. Dukuh, Dalung, Kuta Utara, Badung - Bali
        </div>
    </div>
    <!-- End Dalung -->
    <!-- Line -->
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
    </div>
    <!-- End Line -->
    <!-- Candidasa -->
    <div class="row justify-content-end mb-0">
        <i class="fa fa-circle-thin ml-auto align-self-center orange"></i>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="history orange box-shadow">
                <div class="ml-3 text-uppercase"><strong>2010</strong> | Monarch Bali - Candidasa</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto bg-light text-center same-height box-shadow rounded" style="font-size: 1.3rem">
            Monarch Bali - Candidasa berdiri dengan alamat di Jl. Raya Samuh, Candidasa, Karangasem - Bali
        </div>
    </div>
    <!-- End Candidasa -->
    <!-- Line -->
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
    </div>
    <!-- End Line -->
    <!-- Gianyar -->
    <div class="row justify-content-end mb-0">
        <i class="fa fa-circle-thin ml-auto align-self-center seablue"></i>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="history seablue box-shadow">
                <div class="ml-3 text-uppercase"><strong>2010</strong> | Monarch Bali - Gianyar</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto bg-light text-center same-height box-shadow rounded" style="font-size: 1.3rem">
            Monarch Bali - Gianyar berdiri dengan alamat di Jl. Gn. Lempuyang No. 03, Samplangan, Gianyar - Bali
        </div>
    </div>
    <!-- End Gianyar -->
    <!-- Line -->
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
    </div>
    <!-- End Line -->
    <!-- Singaraja -->
    <div class="row justify-content-end mb-0">
        <i class="fa fa-circle-thin ml-auto align-self-center tosca"></i>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="history tosca box-shadow">
                <div class="ml-3 text-uppercase"><strong>2011</strong> | Monarch Bali - Singaraja</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto bg-light text-center same-height box-shadow rounded" style="font-size: 1.3rem">
            Monarch Bali - Singaraja berdiri dengan alamat di Jl. Raya Anturan No. 15, Desa Tukad Mungga, Singaraja, Buleleng - Bali
        </div>
    </div>
    <!-- End Singaraja -->
    <!-- Line -->
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="border-right d-block text-white same-height">.</div>
        </div>
    </div>
    <!-- End Line -->
    <!-- Negara -->
    <div class="row justify-content-end mb-0">
        <i class="fa fa-circle-thin ml-auto align-self-center red"></i>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="history red box-shadow">
                <div class="ml-3 text-uppercase"><strong>2012</strong> | Monarch Bali - Negara</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start mb-0 mt-0">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="d-block text-white same-height">.</div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto bg-light text-center same-height box-shadow rounded" style="font-size: 1.3rem">
            Monarch Bali - Negara berdiri dengan alamat di Jl. P. Menjangan Gg. IV No. 06, Kel. Dauh Waru, Jembrana Bali
        </div>
    </div>
    <!-- End Negara -->
</div>
<!-- End Small -->