@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway');
body {
    font-family: 'Montserrat', 'Lato', 'Raleway', sans-serif;
}

nav.navbar {
    background-image: -webkit-linear-gradient( 135deg, rgb(17, 94, 140) 0%, rgb(13, 70, 104) 35%, rgb(11, 72, 108) 100%);
    background-image: -moz-linear-gradient( 135deg, rgb(17, 94, 140) 0%, rgb(13, 70, 104) 35%, rgb(11, 72, 108) 100%);
    background-image: linear-gradient( 135deg, rgb(17, 94, 140) 0%, rgb(13, 70, 104) 35%, rgb(11, 72, 108) 100%);
}

nav.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

nav.navbar-light .navbar-toggler:hover {
    color: yellow;
    border-color: yellow;
}

nav.navbar-light .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

nav.navbar-light .navbar-toggler span.navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

#navbarNavDropdown ul li a,
#navbarNavMenuDropdown a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

#navbarNavDropdown li.active {
    background-image: -webkit-linear-gradient(35deg, rgb(233, 196, 39) 0%, rgb(254, 215, 52) 35%, rgb(254, 215, 52) 100%);
    background-image: -o-linear-gradient(35deg, rgb(233, 196, 39) 0%, rgb(254, 215, 52) 35%, rgb(254, 215, 52) 100%);
    background-image: linear-gradient(125deg, rgb(233, 196, 39) 0%, rgb(254, 215, 52) 35%, rgb(254, 215, 52) 100%);
}

#navbarNavDropdown li.active a {
    color: black;
    font-weight: bold;
}

#navbarNavDropdown li.active a:hover {
    color: black;
}

#navbarNavDropdown li a:hover {
    color: yellow;
}

#slider .carousel-caption {
    font-weight: 900;
    color: white;
    position: absolute;
    display: inline-block;
    padding: 10px;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: rgba(21, 128, 199, 0.4);
}

#slider .carousel-caption.bottom {
    width: 90%;
    bottom: 0;
    left: 5%;
    right: 5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#slider .carousel-caption.left {
    width: 50%;
    bottom: 0;
    left: 0;
    border-top-right-radius: 10px;
}

#slider .carousel-caption.right {
    width: 50%;
    bottom: 0;
    left: 50%;
    border-top-left-radius: 10px;
}

#slider .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-caption button {
    border-radius: 25px;
    text-transform: uppercase;
}

#why_monarch {
    background-image: -webkit-linear-gradient( 135deg, rgb(17, 94, 140) 0%, rgb(13, 70, 104) 35%, rgb(11, 72, 108) 100%);
    background-image: -moz-linear-gradient( 135deg, rgb(17, 94, 140) 0%, rgb(13, 70, 104) 35%, rgb(11, 72, 108) 100%);
    background-image: linear-gradient( 135deg, rgb(17, 94, 140) 0%, rgb(13, 70, 104) 35%, rgb(11, 72, 108) 100%);
    color: white;
    text-transform: uppercase;
}

#why_monarch button {
    border-radius: 23px;
    text-transform: uppercase;
}

#monarch_branch {
    text-transform: uppercase;
}

#monarch_branch .card {
    box-shadow: 1px 1px 3px gray;
    cursor: pointer;
}

#monarch_branch .card:hover {
    box-shadow: 2px 2px 1px rgba(21, 128, 199, 1), -2px -2px 1px rgba(21, 128, 199, 1);
}

#monarch_branch .card .border-top {
    border-top: 5px solid rgba(21, 128, 199, 1) !important;
}

#monarch_branch .card p {
    text-transform: none;
    font-size: 14px;
}

#join_monarch {
    background-image: -webkit-linear-gradient(35deg, rgb(233, 196, 39) 0%, rgb(254, 215, 52) 35%, rgb(254, 215, 52) 100%);
    background-image: -o-linear-gradient(35deg, rgb(233, 196, 39) 0%, rgb(254, 215, 52) 35%, rgb(254, 215, 52) 100%);
    background-image: linear-gradient(125deg, rgb(233, 196, 39) 0%, rgb(254, 215, 52) 35%, rgb(254, 215, 52) 100%);
    color: black;
    text-transform: uppercase;
}

#join_monarch button {
    border-radius: 23px;
    text-transform: uppercase;
}

#join_monarch p {
    font-size: 1rem;
}

#history_monarch .border-left {
    border-left: 5px solid #dee2e6 !important;
}

#history_monarch .border-right {
    border-right: 5px solid #dee2e6 !important;
}

#history_monarch i.fa-circle-thin {
    font-size: 2.5rem;
}

#history_monarch .history {
    font-size: 2.5rem;
    color: white;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
}

#history_monarch .history.blue {
    background-color: rgb(13, 70, 104);
}

#history_monarch .history.magenta {
    background-color: rgb(143, 5, 65);
}

#history_monarch .history.orange {
    background-color: rgb(220, 108, 8);
}

#history_monarch .history.seablue {
    background-color: rgb(0, 118, 163);
}

#history_monarch .history.tosca {
    background-color: rgb(0, 199, 157);
}

#history_monarch .history.red {
    background-color: rgb(237, 28, 36);
}

.box-shadow {
    box-shadow: 1px 1px 3px gray, -1px -1px 3px gray;
}

.fa.blue {
    color: rgb(13, 70, 104);
}

.fa.magenta {
    color: rgb(143, 5, 65);
}

.fa.orange {
    color: rgb(220, 108, 8);
}

.fa.seablue {
    color: rgb(0, 118, 163);
}

.fa.tosca {
    color: rgb(0, 199, 157);
}

.fa.red {
    color: rgb(237, 28, 36);
}

footer.footer {
    background-image: -webkit-linear-gradient( 135deg, rgb(17, 94, 140) 0%, rgb(13, 70, 104) 35%, rgb(11, 72, 108) 100%);
    background-image: -moz-linear-gradient( 135deg, rgb(17, 94, 140) 0%, rgb(13, 70, 104) 35%, rgb(11, 72, 108) 100%);
    background-image: linear-gradient( 135deg, rgb(17, 94, 140) 0%, rgb(13, 70, 104) 35%, rgb(11, 72, 108) 100%);
    color: white;
    padding: 1% 0;
}

.footer button {
    border-radius: 23px;
}

.footer h3,
.footer h4,
.footer h5 {
    text-transform: uppercase;
}

.footer ul {
    padding: 0;
    list-style-type: none;
}

.footer a {
    color: white;
    line-height: 2.5em;
}

.copyright {
    font-size: .6em;
}

.social {
    margin: 0 1%;
}

.bg-head {
    background-image: -webkit-linear-gradient( 135deg, rgb(17, 94, 140) 0%, rgb(13, 70, 104) 35%, rgb(11, 72, 108) 100%);
    background-image: -moz-linear-gradient( 135deg, rgb(17, 94, 140) 0%, rgb(13, 70, 104) 35%, rgb(11, 72, 108) 100%);
    background-image: linear-gradient( 135deg, rgb(17, 94, 140) 0%, rgb(13, 70, 104) 35%, rgb(11, 72, 108) 100%);
    color: white
}